@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;

}
:root{
    --primary-color: #651FFF;
    /* --primary-color:#d41f30; */
    --secondary-color: #5C5F6E;
    --dark-color:background: #0E0F10;
    --white-color:#fff;

}

body {
    background-color: #f0f1f3;
}
a {
    text-decoration: none;
    text-transform: capitalize;

}
li {
    list-style-type: none;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    padding: 10px 15px 10px 30px;
}
.nav-title a{
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
}
.nav-left-element {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-menu ul{
    display: flex;
    align-items: center;
   
}

.nav-right-element ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-left-element ul li a {
    
    padding: 0.8rem 1rem;
    color: var(--secondary-color);
}

.nav-right-element ul li a {
    color: var(--secondary-color);
    
}
.hero-section header h1 span{
    color: var(--primary-color);
}

.hero-section {
    margin-top: 4.5rem;
    padding: 0rem 9rem; 
}

.hero-section article {
   padding: 0rem 22rem;
    margin: auto;
}

.hero-section header h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: -3px;
}   

.hero-section article p {
    margin-top: 10px;
    text-align: center;
    color: var(--secondary-color);
    line-height: 29px;
    font-size: 18px;

}

.hero-section .btn-element{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.hero-section .btn-element a {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;  
}

.hero-section .btn-element .get-btn{
    padding: 0.89rem 2.5rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12px;

}

.hero-section .btn-element .price-btn {
    padding: 0.7rem 2.5rem;
    border: 2px solid #0B0D0E;
    border-radius: 12px ;
    color: #0B0D0E;
    transition: all 0.2s ease-out;
}

.hero-section .btn-element .price-btn:hover {
    color: var(--primary-color);
  
}

.background-image {
    margin-top: 1rem;
}

.background-image img {
   border-radius: 12px;
   margin: 1rem auto 0;
   width: 88%;

}

.nav-right-element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-right-element button {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.nav-right-element button img {
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.background-image img {
    width: 100%;
}

@media (max-width:1000px){
    .nav-right-element button {
        display:block;

    }
    .nav-menu ul a {
        display: block;
        width: 100%;
    }
    .nav-menu ul {
        position: absolute;
        left: 0;
        top: 59px;
        width: 100%;
        display: none;
        background-color:rgb(248, 248, 244);
    }
   

    .nav-menu ul.active {
        display: block;
    }
}

@media (max-width:1440px){
    .hero-section article {
        padding: 0rem 13rem;

    }
}

@media (max-width:1024px){
    .hero-section article {
        padding: 0rem 6rem;
    }
}

@media (max-width:1280px){
    .hero-section {
        margin-top: 4rem;
        padding: 0rem 7.5rem;

    }
    .hero-section header h1 {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -1px;
    }
}

@media (max-width:768px){
    .hero-section {
        margin-top: 3rem;
        padding: 0rem 3.5rem;

    }
    .hero-section header h1 {
        font-size:40px;
        line-height: 55px;
        letter-spacing: -0.5px;

    }
    .hero-section article{
        padding: 0rem 3rem;
    }
    .hero-section article p {
        text-align: justify;
    }
    .background-image {
        /* margin: 0; */
        width: 100%;
    }
    .nav-menu ul li a {
        font-size:20px;
        padding: 0.3rem 0rem;
        text-align: center;
    }

}

@media (max-width: 425px) {

    .hero-section {
        margin-top: 2rem;
        padding: 0rem 2rem;
    }

    .hero-section header h1 {
        font-size: 35px;
        line-height: 45px;
        text-align: left;
        letter-spacing: -1px;
    }
    .hero-section article {
        padding: 0rem 0rem;
    }

    .hero-section article p {
        text-align: justify;
    }
    .hero-section .btn-element{
        gap: 1rem;
    }
}


@media (max-width: 376px) {

    .hero-section {
        padding: 0rem 1.5rem;
    }
    
    .hero-section header h1 {
        font-size: 32px;
        line-height: 45px;
        text-align: left;
        letter-spacing: -2px;
    }
   
    .hero-section article {
        padding: 0rem 0rem;
    }
    
    .hero-section article p{
        line-height: 25px;
        font-size: 16px;
        text-align: justify;
    }
    
    .hero-section .btn-element{
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    
    .hero-section {
        padding: 0rem 1rem;
    }
    
    .hero-section article {
        padding: 0rem 0rem;
    }

    .hero-section .btn-element a{
       font-size: 13px;
    }
    
}
